@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

body {
    font-family: 'Roboto', sans-serif, Arial;
}

.content {
    width: 100%;
    float: left;
    min-height: 100vh;
    background-color: #16A085;
    text-align: center;
    color: #fff;
    position: relative;
}

.loader {
    position: absolute;
    top: 25%;
    width: 100%;
}

h1 {
    font-size: 56px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 40%;
    width: 100%;

}

h4 {
    font-size: 30px;
    text-align: center;
    top: 50%;
    margin: 0;
    position: absolute;
    width: 100%;
}

/*loader*/
.lds-grid {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-grid div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
    top: 6px;
    left: 6px;
    animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
    top: 6px;
    left: 26px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
    top: 6px;
    left: 45px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
    top: 26px;
    left: 6px;
    animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
    top: 26px;
    left: 26px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
    top: 26px;
    left: 45px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
    top: 45px;
    left: 6px;
    animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
    top: 45px;
    left: 26px;
    animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
    top: 45px;
    left: 45px;
    animation-delay: -1.6s;
}

@keyframes lds-grid {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}